<section id="tm-success-section">
    <div class="container">
        <div class="tm-success-content-wrapper">
            <div class="tm-sucess-img-area" data-aos="fade-down"
                 data-aos-duration="1000">
                <img src="~/assets/images/tm-success.png" alt="">

            </div>
            <div data-aos="fade-up"
                 data-aos-duration="1500">
                <h4>Your Consultation Is Confirmed!</h4>
                <p>Your video consultation has been successfully booked. The session details have been sent to your email. You’ll receive a reminder when it’s time for your appointment. Thank you!</p>
            </div>
            <a href="@Url.Action("Index","Consultations")" data-aos="fade-left"
               data-aos-duration="2000">Back to Home</a>
        </div>


    </div>
</section>