@model DoctorVM
<section id="tm-profile-section">
    <div class="container">
        <div class="tm-profile-container">
            <div class="tm-profile-content-wrapper">
                <div class="tm-profile-header">
                    <div class="tm-profile-header-left">
                        <img src="~/assets/images/dr1.png" alt="Dr. Luca Marino"
                             class="tm-profile-photo">
                    </div>
                    <div class="tm-card-body">
                        <div class="tm-card-header">
                            <h3 class="tm-professional-name">
                                @Model.FirstName 
                            </h3>
                            <div class="tm-professional-rating">
                                ⭐
                                4.9 <span class="tm-total-tm-review">
                                    (180
                                    reviews)
                                </span>
                            </div>
                        </div>
                        <div class="tm-speciality-ratings-wrapper">
                            <p class="tm-professional-specialty">
                                Gastroenterologist
                            </p>

                        </div>
                        <div class="tm-card-tag-wrapper">
                            <p class="tm-card-tag">
                                Digestive
                                Disorders
                            </p>
                            <p class="tm-card-tag">Gut Inflammation</p>
                        </div>

                        <div class="tm-card-availability-wrapper">
                            <div class="tm-card-availability-item ">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="24" height="19"
                                         viewBox="0 0 24 19" fill="none">
                                        <path d="M20.774 15.5C21.5233 15.5 22.1193 15.0285 22.6545 14.3691C23.7499 13.0194 21.9513 11.9408 21.2654 11.4126C20.568 10.8756 19.7894 10.5714 19 10.5M18 8.5C19.3807 8.5 20.5 7.38071 20.5 6C20.5 4.61929 19.3807 3.5 18 3.5"
                                              stroke="#212B36"
                                              stroke-width="1.5"
                                              stroke-linecap="round" />
                                        <path d="M3.22596 15.5C2.47666 15.5 1.88067 15.0285 1.34555 14.3691C0.250089 13.0194 2.04867 11.9408 2.73465 11.4126C3.43197 10.8756 4.21058 10.5714 5 10.5M5.5 8.5C4.11929 8.5 3 7.38071 3 6C3 4.61929 4.11929 3.5 5.5 3.5"
                                              stroke="#212B36"
                                              stroke-width="1.5"
                                              stroke-linecap="round" />
                                        <path d="M8.0838 12.6112C7.06203 13.243 4.38299 14.5331 6.0147 16.1474C6.81178 16.936 7.69952 17.5 8.81563 17.5H15.1844C16.3005 17.5 17.1882 16.936 17.9853 16.1474C19.617 14.5331 16.938 13.243 15.9162 12.6112C13.5201 11.1296 10.4799 11.1296 8.0838 12.6112Z"
                                              stroke="#212B36"
                                              stroke-width="1.5"
                                              stroke-linecap="round"
                                              stroke-linejoin="round" />
                                        <path d="M15.5 5C15.5 6.933 13.933 8.5 12 8.5C10.067 8.5 8.5 6.933 8.5 5C8.5 3.067 10.067 1.5 12 1.5C13.933 1.5 15.5 3.067 15.5 5Z"
                                              stroke="#212B36"
                                              stroke-width="1.5" />
                                    </svg>
                                </span>
                                <span>642+ Patients</span>
                            </div>
                            <div class="tm-card-availability-item ">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="22" height="19"
                                         viewBox="0 0 22 19" fill="none">
                                        <path d="M10 5.5L12 5.5"
                                              stroke="#212B36"
                                              stroke-width="1.5"
                                              stroke-linecap="round" />
                                        <path d="M1 8.5C1 5.20017 1 3.55025 2.02513 2.52513C3.05025 1.5 4.70017 1.5 8 1.5H9C12.2998 1.5 13.9497 1.5 14.9749 2.52513C16 3.55025 16 5.20017 16 8.5V10.5C16 13.7998 16 15.4497 14.9749 16.4749C13.9497 17.5 12.2998 17.5 9 17.5H8C4.70017 17.5 3.05025 17.5 2.02513 16.4749C1 15.4497 1 13.7998 1 10.5V8.5Z"
                                              stroke="#212B36"
                                              stroke-width="1.5" />
                                        <path d="M16 6.40585L16.1259 6.30196C18.2417 4.55623 19.2996 3.68336 20.1498 4.10482C21 4.52628 21 5.92355 21 8.71808V10.2819C21 13.0765 21 14.4737 20.1498 14.8952C19.2996 15.3166 18.2417 14.4438 16.1259 12.698L16 12.5941"
                                              stroke="#212B36"
                                              stroke-width="1.5"
                                              stroke-linecap="round" />
                                    </svg>
                                </span>
                                <span>Video consultation</span>
                            </div>
                            <div class="tm-card-availability-item ">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="24" height="25"
                                         viewBox="0 0 24 25" fill="none">
                                        <path d="M8 2.5V5.5"
                                              stroke="#292D32"
                                              stroke-width="1.5"
                                              stroke-miterlimit="10"
                                              stroke-linecap="round"
                                              stroke-linejoin="round" />
                                        <path d="M16 2.5V5.5"
                                              stroke="#292D32"
                                              stroke-width="1.5"
                                              stroke-miterlimit="10"
                                              stroke-linecap="round"
                                              stroke-linejoin="round" />
                                        <path d="M3.5 9.59H20.5"
                                              stroke="#292D32"
                                              stroke-width="1.5"
                                              stroke-miterlimit="10"
                                              stroke-linecap="round"
                                              stroke-linejoin="round" />
                                        <path d="M21 9V17.5C21 20.5 19.5 22.5 16 22.5H8C4.5 22.5 3 20.5 3 17.5V9C3 6 4.5 4 8 4H16C19.5 4 21 6 21 9Z"
                                              stroke="#292D32"
                                              stroke-width="1.5"
                                              stroke-miterlimit="10"
                                              stroke-linecap="round"
                                              stroke-linejoin="round" />
                                        <path d="M11.9945 14.2H12.0035"
                                              stroke="#292D32"
                                              stroke-width="2"
                                              stroke-linecap="round"
                                              stroke-linejoin="round" />
                                        <path d="M8.29529 14.2H8.30427"
                                              stroke="#292D32"
                                              stroke-width="2"
                                              stroke-linecap="round"
                                              stroke-linejoin="round" />
                                        <path d="M8.29529 17.2H8.30427"
                                              stroke="#292D32"
                                              stroke-width="2"
                                              stroke-linecap="round"
                                              stroke-linejoin="round" />
                                    </svg>
                                </span>
                                <span>Available Tue, Thu, Fri</span>
                            </div>
                        </div>

                        <div class="tm-card-footer">
                            <div class="tm-card-footer-left">
                                <span class="tm-service-duration">
                                    <i class="far fa-clock"></i> 1
                                    day
                                </span>
                                <span class="tm-professional-price">$320</span>
                            </div>
                            <a asp-controller="Consultations" asp-action="BookNow" asp-route-id="@Model.Id" class="tm-book-now-btn">
                                Book
                                Now
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tm-about-section">
                    <h2 class="tm-doctor-profile-header">About Dr. Luca Marino</h2>
                    <p class="tm-section-content">
                        Dr. Luca Marino is a renowned
                        gastroenterologist with over 15 years of experience
                        in treating digestive disorders and gut
                        inflammation. He employs a holistic approach to
                        patient care, ensuring personalized treatment plans
                        tailored to individual needs. With a strong academic
                        background and extensive clinical expertise, Dr.
                        Marino is committed to improving patient outcomes
                        through advanced medical techniques and
                        compassionate care.
                    </p>
                </div>
                <div class="tm-areas-section">
                    <h2 class="tm-doctor-profile-header">Areas of Expertise</h2>
                    <ul class="tm-section-content">
                        <li>Gut Microbiota Analysis</li>
                        <li>IBS Treatment</li>
                        <li>Probiotic Therapy</li>
                        <li>Functional Lab Testing, etc.</li>
                    </ul>
                </div>
                <div class="tm-education-section">
                    <h2 class="tm-doctor-profile-header">
                        Education &
                        Certifications
                    </h2>
                    <ul class="tm-section-content">
                        <li>
                            MD - Internal Medicine, University of Amsterdam
                            (2008)
                        </li>
                        <li>
                            Specialist in Gastroenterology, University of
                            Amsterdam (2010)
                        </li>
                        <li>Certified in Functional Medicine (2012)</li>
                    </ul>
                </div>
                <div class="tm-language-section">
                    <h2 class="tm-doctor-profile-header">Languages</h2>
                    <p class="tm-section-content">English (Native), Dutch (Fluent), German (Professional)</p>
                </div>
                <div class="tm-reviews-section">
                    <h2 class="tm-doctor-profile-header">Recent Patient reviews</h2>
                    <div class="tm-reviews">
                        <div class="tm-review">
                            <div class="tm-review-header">
                                <div class="tm-header-top-left">
                                    <div class="tm-header-top-left-img-area">
                                        <img src="~/assets/images/reviewer.png" alt="" srcset="">
                                    </div>
                                    <div class="tm-header-top-left-author-datw-wrapper">
                                        <p class="tm-review-author">Ariene McCoy</p>
                                        <p class="tm-review-date">04/08/2025</p>
                                    </div>
                                </div>
                                <div class="stars">⭐⭐⭐⭐⭐</div>
                            </div>
                            <p class="tm-review-text">
                                Dr. Johnson was
                                incredibly thorough and took the time to
                                explain everything in detail. Her approach
                                to treating my IBS was completely different
                                from what I experienced before.
                            </p>
                        </div>
                        <div class="tm-review">
                            <div class="tm-review-header">
                                <div class="tm-header-top-left">
                                    <div class="tm-header-top-left-img-area">
                                        <img src="~/assets/images/reviewer.png" alt="" srcset="">
                                    </div>
                                    <div class="tm-header-top-left-author-datw-wrapper">
                                        <p class="tm-review-author">Ariene McCoy</p>
                                        <p class="tm-review-date">04/08/2025</p>
                                    </div>
                                </div>
                                <div class="stars">⭐⭐⭐⭐⭐</div>
                            </div>
                            <p class="tm-review-text">
                                Dr. Johnson was
                                incredibly thorough and took the time to
                                explain everything in detail. Her approach
                                to treating my IBS was completely different
                                from what I experienced before.
                            </p>
                        </div>
                        <div class="tm-review">
                            <div class="tm-review-header">
                                <div class="tm-header-top-left">
                                    <div class="tm-header-top-left-img-area">
                                        <img src="~/assets/images/reviewer.png" alt="" srcset="">
                                    </div>
                                    <div class="tm-header-top-left-author-datw-wrapper">
                                        <p class="tm-review-author">Ariene McCoy</p>
                                        <p class="tm-review-date">04/08/2025</p>
                                    </div>
                                </div>
                                <div class="stars">⭐⭐⭐⭐⭐</div>
                            </div>
                            <p class="tm-review-text">
                                Dr. Johnson was
                                incredibly thorough and took the time to
                                explain everything in detail. Her approach
                                to treating my IBS was completely different
                                from what I experienced before.
                            </p>
                        </div>
                        <div class="tm-review">
                            <div class="tm-review-header">
                                <div class="tm-header-top-left">
                                    <div class="tm-header-top-left-img-area">
                                        <img src="~/assets/images/reviewer.png" alt="" srcset="">
                                    </div>
                                    <div class="tm-header-top-left-author-datw-wrapper">
                                        <p class="tm-review-author">Ariene McCoy</p>
                                        <p class="tm-review-date">04/08/2025</p>
                                    </div>
                                </div>
                                <div class="stars">⭐⭐⭐⭐⭐</div>
                            </div>
                            <p class="tm-review-text">
                                Dr. Johnson was
                                incredibly thorough and took the time to
                                explain everything in detail. Her approach
                                to treating my IBS was completely different
                                from what I experienced before.
                            </p>
                        </div>
                        <div class="tm-review">
                            <div class="tm-review-header">
                                <div class="tm-header-top-left">
                                    <div class="tm-header-top-left-img-area">
                                        <img src="~/assets/images/reviewer.png" alt="" srcset="">
                                    </div>
                                    <div class="tm-header-top-left-author-datw-wrapper">
                                        <p class="tm-review-author">Ariene McCoy</p>
                                        <p class="tm-review-date">04/08/2025</p>
                                    </div>
                                </div>
                                <div class="stars">⭐⭐⭐⭐⭐</div>
                            </div>
                            <p class="tm-review-text">
                                Dr. Johnson was
                                incredibly thorough and took the time to
                                explain everything in detail. Her approach
                                to treating my IBS was completely different
                                from what I experienced before.
                            </p>
                        </div>
                        <div class="tm-review-see-more">
                            <a href="#" class="tm-see-more">See More</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="tm-all-rights-reserved-area">
            <p>© 2025 MicroHealth. All rights reserved.</p>
        </div>
    </div>
</section>

<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/main.js"></script>
